html {
    position:relative;
    min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html, body {
    margin:0;
    padding:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000px;
    overflow: hidden;
    background-color: #333;
    text-decoration: none;
    border-bottom: solid 4px #ff8c1a;;
}

li {
    float: left;
    text-decoration: none;
    cursor: pointer;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: #ff8c1a;
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:15px;
}

.menu-selected {
    background-color: #ff8c1a;
}