ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000px;
    overflow: hidden;
    background-color: #333;
    text-decoration: none;
}

li {
    float: left;
    text-decoration: none;
    cursor: pointer;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: #ff8c1a;
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
}

.menu-selected {
    background-color: #ff8c1a;
}