.small-input {
    text-align: left;
    width: 100%;
    padding: 5px 10px;
    margin: 0px 0px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ff8c1a;
}

.small-input_label {
    margin: 15px 0px 3px;
    padding: 0px 10px;
}

.input-error {
    color: red;
    text-align: center;
}