.simple-table {
    text-align: center;
    font-family: Helvetica sans-serif;
    font-size: 18;
    width: 100%;
}

.simple-th, simple-td {
    text-align: center;
    padding: 5 5 5 5;
}

.simple-tr:nth-child(even) {
    background-color: #CCCCCC;
}

.simple-tr {
    border-bottom: solid black 1px;
}

.simple-th {
    cursor: pointer;
}

.selected-row {
    background-color: #808080 !important;
}

.table-header {
    border-bottom: solid black 1px;
}
